@model Logistic.Data.ClaimForTransport

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ClaimForTransport</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DocDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DocDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberIn1S)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberIn1S)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Path)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Path)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReadyDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReadyDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeadlineDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeadlineDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Volume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Volume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Carrier)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Carrier.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GuidIn1S">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
