@model IEnumerable<Logistic.Data.ClaimForTransport>

@{
    ViewData["Title"] = "Index";
}

<div class="center">

    <h1>Заявки</h1>



    <div class="filters">

        <div class="filters_sort col-6">
            <a href="#"> Новые заявки</a>
            <a href="#" class="selected"> Одобренные</a>
        </div>


        <div class="filters_data col-6">
            <form class="kub">
                <select class="form-control" name="">
                    <option value="" disabled selected>Объем, (куб)</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </form>




            <nav class="navbar ">
                <li class="dropdown pull-center">

                    <input name="startDate" class="form-control data_time dropdown-toggle" data-toggle="dropdown" placeholder="Фильтр по дате">
                    <input name="endDate" type="hidden">
                    <ul class="dropdown-menu">
                        <div id="date_range"></div>
                    </ul>
                </li>
            </nav>

        </div>
    </div>

</div>

<!--
<div class="offer_items_block">

    <div class="offer_items">

        <div class="offer_item">
            <div class="offer_item_data"> Дата и время заявки</div>
            <div class="offer_item_data_time"> 05.02.2018 16:35:10</div>
        </div>

        <div class="offer_item">
            <div class="offer_item_data"> Номер</div>
            <div class="offer_item_data_nomber"> 00048588</div>
        </div>

        <div class="offer_item">
            <div class="offer_item_data"> Маршрут следования</div>
            <div class="offer_item_data_city_out"> г. Ярославль, ул. Базовая 3</div>
            <div class="offer_item_data_city_in"> г.Иваново, ул. Советская 65</div>
        </div>

        <div class="offer_item">
            <div class="offer_item_data">Дата готовности груза</div>
            <div class="offer_item_data_time_end"> 07.02.2018 16:35:10</div>
        </div>

        <div class="offer_item">
            <div class="offer_item_data">Объем, (куб)</div>
            <div class="offer_item_data_car_kub"> 20</div>
        </div>

        <div class="offer_item">
            <div class="offer_item_data">Дата принятия решения</div>
            <div class="offer_item_data_end_time"> 08.02.2018 16:35:10</div>
        </div>

        <div class="offer_item">
            <div class="offer_item_data">Комментарий</div>
            <div class="offer_item_data_end_time">Негабаритный груз, общий вес 5 тонн</div>
        </div>

    </div>

    <div class="offer_item_status">
        <div class="offer_item_data">Статус заявки: <span>Новая</span></div>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">  Ответить </button>
    </div>

    <div class="collapse" id="collapseExample">
        <div class="offer_form ">

            <form class="offer_form_item_ ">
                <div class="offer_form_item ">
                    <div class="form_group_show col-5">
                        <div class="form-group">
                            <label class=" col-form-label">Дата подачи автомобиля</label>
                            <input class="form-control" type="date" value=" " id="example-date-input" required="" placeholder="Дата подачи автомобиля">
                        </div>

                        <div class="form-group">
                            <label class=" col-form-label">Время подачи, от </label>
                            <input type="time" value=" " class="form-control" required="" placeholder="Время подачи, от">
                        </div>

                        <div class="form-group">
                            <label class=" col-form-label">Время подачи, до </label>
                            <input type="time" value=" " class="form-control" required="" placeholder="Время подачи, до">
                        </div>

                        <div class="form-group">
                            <label class=" col-form-label"> Дата выгрузки</label>
                            <input class="form-control" type="date" value=" " id="example-date-input" required="" placeholder="Дата выгрузки">
                        </div>

                        <div class="form-group">
                            <label class=" col-form-label">Время выгрузки </label>
                            <input type="time" value=" " class="form-control" required="" placeholder="Время выгрузки">
                        </div>


                    </div>

                    <div class="form_group_show col-5">
                        <div class="form-group">
                            <label class=" col-form-label">Стоимость услуги, в рублях </label>
                            <input type="text" class="form-control" required="" placeholder="Стоимость услуги, в рублях">
                        </div>

                        <div class="btn-group nds">
                            <span> <input type="radio" name="options" id="option1" autocomplete="off" checked=""> с НДС </span>
                            <span> <input type="radio" name="options" id="option2" autocomplete="off"> без НДС</span>
                            <span> <input type="radio" name="options" id="option3" autocomplete="off"> НДС включен</span>

                        </div>

                        <div class="form-group">
                            <label class=" col-form-label">Выберите водителя </label>
                            <select class="form-control" name="">

                                <option value="1">Иванов Иван Иванович</option>
                                <option value="2">Сидоров Антон Петрович</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class=" col-form-label"> Выберите автомобиль</label>
                            <select class="form-control" name="">

                                <option value="1">VW Transporter</option>
                                <option value="2">Газель Бизнес</option>
                            </select>
                        </div>


                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Отправить</button>


            </form>



        </div>
    </div>

</div>
    -->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DocDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberIn1S)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Path)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeadlineDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carrier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DocDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberIn1S)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Path)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReadyDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeadlineDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Volume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Carrier.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.GuidIn1S">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.GuidIn1S">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.GuidIn1S">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

