@model ApplicationUserVm

@{
    ViewData["Title"] = "Данные пользователя";
}

<h2>@ViewData["Title"] @Model.Username</h2>


<hr />
<div class="row">
    <div class="col-md-8">
        <form action="Edit" novalidate="novalidate" method="post" class="b-form-user-edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group form-inline">
                <label asp-for="Fio" class="control-label"></label>
                <input asp-for="Fio" class="form-control" />
                <span asp-validation-for="Fio" class="text-danger"></span>
            </div>
            <div class="form-group form-inline">
                <label asp-for="Inn" class="control-label"></label>
                <input asp-for="Inn" maxlength="12" class="form-control" />
                <span asp-validation-for="Inn" class="text-danger"></span>
            </div>
            <div class="form-group form-inline">
                <label asp-for="Kpp" class="control-label"></label>
                <input asp-for="Kpp" class="form-control" />
                <span asp-validation-for="Kpp" class="text-danger"></span>
            </div>


            <div class="form-group form-inline">
                <label asp-for="CarrierId" class="control-label"></label>

                @*Html.DropDownListFor(m => m.CarrierId, ViewBag.CarrierId as IEnumerable<SelectListItem>, "Выберите перевозчика", new { @class = "form-control" }) *@
                @Html.DropDownListFor(m => m.CarrierId, new SelectList(Model.Carriers, "Id", "FullName"), "Выберите перевозчика", new { @class = "form-control" })
                <span asp-validation-for="CarrierId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary"> В список</a>
            </div>
        </form>
    </div>
</div>




@if (Model.Cars != null || Model.Drivers == null)
{
    <div class="b-filter-group">
        <div class="btn-group nav nav-tabs">
            <a class="active show btn  b-btn-bordered b-btn-rounded" data-toggle="tab" href="#cars-items">Автомобили</a>
            <a class="btn b-btn-bordered b-btn-rounded" data-toggle="tab" href="#drivers-items">Водители</a>
        </div>
    </div>
}

<div class="tab-content">
    <div id="cars-items" class="tab-pane fade in active show">
        @if (Model.Cars != null)
        {
            @foreach (var car in Model.Cars)
            {
                @Html.Partial("_Car", car)
            }}
    </div>

    <div id="drivers-items" class="tab-pane fade">
        @if (Model.Drivers != null)
        {
            @foreach (var driver in Model.Drivers)
            {
                @Html.Partial("_Driver", driver)

            }}
    </div>
</div>